body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(78, 6, 78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  margin: 5vw auto;
  padding: 1rem;
  width: 70vw;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.container-inner {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 6px;
  margin: 1rem;
  padding: 1rem;
  height: 2.5vw;
}
.container-inner h1 {
  display: inline;
}
.btn {
  display: inline;
  border: none;
  float: right;
}
.left-div {
  flex: 30%;
}
.right-div {
  flex: 70%;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
